django==3.2.7
django-extensions
django-templatetags
django-countries
djangorestframework
psycopg2-binary
sqlalchemy
django-bootstrap4
django-loginas
pyjwkest>=1.4
django-oidc-rp
jupyterlab
django-cors-headers
django-csp
pep8
