**/db.sqlite3
**/__pycache__
**/.DS_Store
**/*.tgz
**/*.tar
**/*-tar.gz
**/.vagrant
**/*.log
**/*.pyc
**/*.class
**/*.jar
**/coffeeshop/target
**/csthirdparty/target
**/static/admin
**/static/flags
**/*.crt
**/*.csr
**/*.key
**/*.ipynb
