{% extends "base.html" %}
{% load i18n static %}
{% static "" as baseUrl %}

{% block title %}<title>Coffee Shop</title>{% endblock %}
{% block header %}
{% endblock %}
{% block content %}

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-12">

            <h2>Contact Us</h2>

            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" rows="10" class="form-control" id="textarea_message"placeholder="Enter your message"></textarea>
                </div>
                <p>
                    <button type="submit" class="btn-primary">Send</button>
                </p>
            </form>
        </div> <!-- col-sm-12 -->

    </div> <! -- row -->
    
</div> <! -- container -->
{% endblock %}

{% block endjs %}
{% endblock %}
